<div *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="!isLoading">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayout="row wrap">
    <div *ngFor="let project of projects" class="p-h-15">
      <div [routerLink]="['dashboard', project.id]">
        <mat-card class="card" fxLayout="column" fxLayoutAlign="space-evenly center">
          <img class="fit-picture"
          src={{project.imageUrl}}
          alt="LOGO">
          <div class="fs-24">{{project.name}}</div>
        </mat-card>
      </div>         
      </div>
  </div>
</div>

<router-outlet></router-outlet>