.card{
    height: 200px;
    width: 200px;
    margin: 40px;
}
.bgB{
    background-color:#55d4cb;
}
.bgG{
    background-color: #90d455;
}
.legend-title-text{
    display: none !important
}
.header{
    font-size: x-large;
    margin-left: 20px;
    margin-top: 10px;
    font-family: sans-serif;
    padding-left: 20px;
}
.mr-40{
    margin-left: 40px;
}
.pd-10{
    padding-bottom: 50px;
    margin-top: 50px;
}
.mr-22{
    margin-right: 22px;
}
.page{
    width: 76%;
    margin: auto;
}
.mt-20{
    margin-top: 20%;
}
.mt-10{
    margin-top: 10px;
}
.hv:hover {
    box-shadow: 4px 5px 8px #888888;
  }
  .fs-80{
    font-size: 80px;
  }
  .ml-44{
    margin-left: 44px;
  }